.navbarContainer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbarContainer span {
    font-size: 1.5em;
    font-weight: bold;
}

.navbarContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarContainer ul li {
    margin-right: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
}


.cartIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: #fff;
    display: flex;
    align-items: center;
    transition: .1s;
}

.navbarContainer ul li:hover {
    color: #555;
    scale: 1.05;
    background-color: #fff;
    padding: 1.2px;
    border-radius: 6px;
}

.cartIcon:hover {
    color: #555;
    background-color: #fff;
    border-radius: 7px;
}